@import '@src/styles/functions';

.root {
  position: relative;
  background-color: var(--white);
  padding-top: calc(var(--layout-columns-gap) * 4);
  padding-bottom: calc(var(--layout-columns-gap) * 5);
  @include mobile {
    padding-top: calc(var(--layout-columns-gap) * 2.5);
    padding-bottom: calc(var(--layout-columns-gap) * 3);
  }

  .sectionTitle {
    grid-column: 1 / 15;
    @include mobile {
      grid-column: 1 / 7;
    }
  }

  .column {
    grid-column: span 5;
    margin-top: calc(var(--layout-columns-gap) * 2.5);
    border-top: 2px solid var(--black);
    padding-top: calc(var(--layout-columns-gap) * 0.9);
    @include mobile {
      grid-column: 1 / 7;
      margin-top: calc(var(--layout-columns-gap) * 1.5);
    }

    &:first-of-type {
      grid-column: 1 / 6;
      @include mobile {
        grid-column: 1 / 7;
      }
    }

    .columnTitle {
      margin-bottom: calc(var(--layout-columns-gap) * 1);
    }

    .item,
    .langRow {
      margin-bottom: calc(var(--layout-columns-gap) * 1);
    }

    .meta {
      opacity: 0.6;
      margin-top: calc(var(--layout-columns-gap) * 0.12);
    }

    .tags {
      display: flex;
      flex-wrap: wrap;
      gap: calc(var(--layout-columns-gap) * 0.35);

      .tag {
        border: 1.5px solid var(--black);
        border-radius: 100px;
        padding: calc(var(--layout-columns-gap) * 0.22) calc(var(--layout-columns-gap) * 0.5);
      }
    }
  }
}
